# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# We use dotenv to load Prisma from Next.js' .env file
# @see https://www.prisma.io/docs/reference/database-reference/connection-urls
DATABASE_URL=postgresql://root:YongWu897&@10.13.48.39:5432/blobscan_dev?schema=public
SENTRY_IGNORE_API_RESOLUTION_ERROR=1
BLOBSCAN_TAG=next
INDEXER_TAG=master

### blobscan website

EXTERNAL_WEB_PORT=3000

# BEE_DEBUG_ENDPOINT=
# BEE_ENDPOINT=

CHAIN_ID=32382
NETWORK_NAME=testnet

# GOOGLE_STORAGE_BUCKET_NAME=blobscan-test-bucket
# GOOGLE_STORAGE_PROJECT_ID=blobscan-test-project
# GOOGLE_SERVICE_KEY=
# GOOGLE_STORAGE_API_ENDPOINT=http://localhost:4443

#BLOB_PROPAGATOR_ENABLED=true

GOOGLE_STORAGE_ENABLED=false
POSTGRES_STORAGE_ENABLED=true
SWARM_STORAGE_ENABLED=false

REDIS_URI=redis://default:YongWu897_@10.13.27.158:6379/1

# PRISMA_BATCH_OPERATIONS_MAX_SIZE=

# FEEDBACK_WEBHOOK_URL=

# @see https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=http://localhost:3000

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
SECRET_KEY=rbn8Qz2R24oewwEaHnwt5nsIZODd/h+im0lm4W5XNK8=
NEXT_PUBLIC_NETWORK_NAME=testnet
NEXT_PUBLIC_VERCEL_ANALYTICS_ENABLED=false
NEXT_PUBLIC_BEACON_BASE_URL=https://dora.ethpandaops.io/
NEXT_PUBLIC_EXPLORER_BASE_URL=https://etherscan.io/

#### rest api server

BLOBSCAN_API_PORT=3001
EXTERNAL_API_PORT=3001

# SENTRY_DSN_API=

#### blobscan indexer

SECRET_KEY=rbn8Qz2R24oewwEaHnwt5nsIZODd/h+im0lm4W5XNK8=
BLOBSCAN_API_ENDPOINT=http://127.0.0.1:3001
BEACON_NODE_ENDPOINT=http://127.0.0.1:3500
EXECUTION_NODE_ENDPOINT=http://127.0.0.1:8545
RUST_LOG=blob-indexer=INFO

LOGGER=default

#NODE_ENV=development
DENCUN_FORK_SLOT = 1
# SENTRY_DSN_INDEXER=

### telemetry

# METRICS_ENABLED=
# TRACES_ENABLED=

# OTLP_AUTH_USERNAME=
# OTLP_AUTH_PASSWORD=

# OTEL_EXPORTER_OTLP_PROTOCOL=
# OTEL_EXPORTER_OTLP_ENDPOINT=
# OTEL_DIAG_ENABLED=
