---
version: "3.7"

services:
  web:
    image: blossomlabs/blobscan:${BLOBSCAN_TAG}
    command: web
    restart: always
    ports:
      - 3000:3000
      - 5556:5556
    environment:
      BEACON_NODE_ENDPOINT: "${BEACON_NODE_ENDPOINT}"
      DATABASE_URL: "${DATABASE_URL}"
      SECRET_KEY: "${SECRET_KEY}"
      NEXT_PUBLIC_BEACON_BASE_URL: "${NEXT_PUBLIC_BEACON_BASE_URL}"
      NEXT_PUBLIC_EXPLORER_BASE_URL: "${NEXT_PUBLIC_EXPLORER_BASE_URL}"
      GOOGLE_STORAGE_BUCKET_NAME: "${GOOGLE_STORAGE_BUCKET_NAME}"
      GOOGLE_STORAGE_PROJECT_ID: "${GOOGLE_STORAGE_PROJECT_ID}"
      GOOGLE_SERVICE_KEY: "${GOOGLE_SERVICE_KEY}"
      GOOGLE_STORAGE_ENABLED: "${GOOGLE_STORAGE_ENABLED}"
      POSTGRES_STORAGE_ENABLED: "${POSTGRES_STORAGE_ENABLED}"
      SWARM_STORAGE_ENABLED: "${SWARM_STORAGE_ENABLED}"

  api:
    image: blossomlabs/blobscan:${BLOBSCAN_TAG}
    command: api
    restart: always
    ports:
      - ${EXTERNAL_API_PORT}:3001
    networks:
      - ethswarm
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
    environment:
      DATABASE_URL: "${DATABASE_URL}"
      SECRET_KEY: "${SECRET_KEY}"
      BLOBSCAN_API_PORT: "${BLOBSCAN_API_PORT}"
      BEE_DEBUG_ENDPOINT: "${BEE_DEBUG_ENDPOINT}"
      BEE_ENDPOINT: "${BEE_ENDPOINT}"
      GOOGLE_STORAGE_BUCKET_NAME: "${GOOGLE_STORAGE_BUCKET_NAME}"
      GOOGLE_STORAGE_PROJECT_ID: "${GOOGLE_STORAGE_PROJECT_ID}"
      GOOGLE_SERVICE_KEY: "${GOOGLE_SERVICE_KEY}"
      GOOGLE_STORAGE_ENABLED: "${GOOGLE_STORAGE_ENABLED}"
      OTLP_AUTH_USERNAME: "${OTLP_AUTH_USERNAME}"
      OTLP_AUTH_PASSWORD: "${OTLP_AUTH_PASSWORD}"
      POSTGRES_STORAGE_ENABLED: "${POSTGRES_STORAGE_ENABLED}"
      SWARM_STORAGE_ENABLED: "${SWARM_STORAGE_ENABLED}"
      OTEL_EXPORTER_OTLP_PROTOCOL: "${OTEL_EXPORTER_OTLP_PROTOCOL}"
      OTEL_EXPORTER_OTLP_ENDPOINT: "${OTEL_EXPORTER_OTLP_ENDPOINT}"

  indexer:
    image: blossomlabs/blobscan-indexer:master
    network_mode: host
    restart: always
    environment:
      SECRET_KEY: "${SECRET_KEY}"
      BLOBSCAN_API_ENDPOINT: "${BLOBSCAN_API_ENDPOINT}"
      BEACON_NODE_ENDPOINT: "${BEACON_NODE_ENDPOINT}"
      EXECUTION_NODE_ENDPOINT: "${EXECUTION_NODE_ENDPOINT}"
      SENTRY_DSN: "${SENTRY_DSN}"
      RUST_LOG: "${RUST_LOG}"
    depends_on:
      api:
        condition: service_healthy

volumes:
  postgres-data:

networks:
  ethswarm:
    external: true
