---
version: "3.7"

services:
  web:
    image: blossomlabs/blobscan:local
    build: .
    command: web
    restart: always
    ports:
      - 23000:3000
      - 25556:5556
    environment:
      BEACON_NODE_ENDPOINT: http://localhost:5052
      GOOGLE_STORAGE_API_ENDPOINT: http://localhost:4443
      DATABASE_URL: postgresql://blobscan:s3cr3t@postgres:5432/blobscan_dev?schema=public
      SECRET_KEY: supersecret
      NEXT_PUBLIC_BEACON_BASE_URL: http://134.209.87.158:8080/
      NEXT_PUBLIC_EXPLORER_BASE_URL: https://explorer.4844-devnet-7.ethpandaops.io/
      METRICS_ENABLED: true

  api:
    image: blossomlabs/blobscan:local
    build: .
    command: api
    restart: always
    ports:
      - 23001:3001
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 5s
    environment:
      DATABASE_URL: postgresql://blobscan:s3cr3t@postgres:5432/blobscan_dev?schema=public
      SECRET_KEY: supersecret
      BLOBSCAN_API_PORT: 3001
      METRICS_ENABLED: true
    depends_on:
      - postgres

  indexer:
    image: blossomlabs/blobscan-indexer:master
    network_mode: host
    restart: always
    environment:
      SECRET_KEY: supersecret
      BLOBSCAN_API_ENDPOINT: http://localhost:23001
      BEACON_NODE_ENDPOINT: http://localhost:5052
      EXECUTION_NODE_ENDPOINT: http://localhost:8545
      RUST_LOG: "${RUST_LOG}"
    depends_on:
      api:
        condition: service_healthy

  storage:
    image: fsouza/fake-gcs-server
    ports:
      - "4443:4443"
    command: -scheme http
    volumes:
      - storage_data:/storage

  postgres:
    image: postgres:14
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=blobscan
      - POSTGRES_DB=blobscan_dev
      - POSTGRES_PASSWORD=s3cr3t

volumes:
  postgres-data:
  storage_data:
