services:
  web:
    extends:
      file: docker-compose.yml
      service: web
    build:
      context: .
      target: web
    ports:
      - 5556:5556 # Prisma studio

  api:
    extends:
      file: docker-compose.yml
      service: api
    build:
      context: .
      target: api
    depends_on:
      - postgres

  docs:
    extends:
      file: docker-compose.yml
      service: docs
    build:
      context: .
      dockerfile: ./Dockerfile.docs

  # External dependencies

  postgres:
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /tmp:/tmp
    environment:
      - POSTGRES_USER=blobscan
      - POSTGRES_DB=blobscan_dev
      - POSTGRES_PASSWORD=s3cr3t

  storage:
    image: fsouza/fake-gcs-server
    ports:
      - "4443:4443"
    command: ["-scheme", "http", "-port", "4443", "-data", "/data"]
    volumes:
      - gcs_data:/data
      - type: bind
        source: ./packages/test/src/fixtures/gcs
        target: /data
  s3mock:
    image: adobe/s3mock:latest
    environment:
      - COM_ADOBE_TESTING_S3MOCK_STORE_INITIAL_BUCKETS=blobscan-s3-bucket
      - COM_ADOBE_TESTING_S3MOCK_STORE_REGION=us-east-1
    ports:
      - 9090:9090

  sftp:
    image: atmoz/sftp:latest
    ports:
      - 2222:22
    volumes:
      - sftp_data:/home/blobscan/upload
      - ./misc/ssh-keys/blobscan.pub:/home/blobscan/.ssh/keys/blobscan.pub:ro
      - ./misc/sftp-init.sh:/etc/sftp.d/set_permissions.sh:ro
    environment:
      - SFTP_USERS=blobscan::1001:1001:upload
  redis:
    image: "redis:alpine"
    command: redis-server /usr/local/etc/redis/redis.conf
    ports:
      - "6379:6379"
    volumes:
      - ./misc/data:/var/lib/redis
      - ./misc/conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
      - REDIS_PASSWORD=s3cr3t
      - REDIS_USERNAME=blobscan

  collector:
    image: otel/opentelemetry-collector:0.23.0
    command: "--config /etc/otel-config.yaml"
    volumes:
      - ./otel-config.yaml:/etc/otel-config.yaml

volumes:
  postgres-data:
  gcs_data:
  sftp_data:
