name: Deploy production

on:
  workflow_run:
    workflows: ["Release new docker images"]
    tags: ["*"]
    types:
      - completed

jobs:

  deploy_sepolia:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy Blobscan API (sepolia)
    runs-on: ubuntu-latest
    environment:
      name: sepolia
      url: https://sepolia.blobscan.com
    steps:
      - uses: appleboy/ssh-action@v0.0.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deploy
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: ./deploy-blobscan.sh

  deploy_holesky:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy Blobscan API (holesky)
    runs-on: ubuntu-latest
    environment:
      name: holesky
      url: https://holesky.blobscan.com
    steps:
      - uses: appleboy/ssh-action@v0.0.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deploy
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: ./deploy-blobscan.sh

  deploy_gnosis:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy Blobscan API (gnosis)
    runs-on: ubuntu-latest
    environment:
      name: gnosis
      url: https://gnosis.blobscan.com
    steps:
      - uses: appleboy/ssh-action@v0.0.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deploy
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: ./deploy-blobscan.sh

  deploy_mainnet:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Deploy Blobscan API (mainnet)
    runs-on: ubuntu-latest
    environment:
      name: mainnet
      url: https://blobscan.com
    steps:
      - uses: appleboy/ssh-action@v0.0.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deploy
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_KEY }}
          script: ./deploy-blobscan.sh

